QDRANT_CLIENT=qdrant_client_endpoint
COLLECTION_NAME=seperate_collection_name
OPENAI_API_KEY=openai_key
OPENAI_MODEL=openai_model
GENAI_EMBEDDING_API_KEY=google_embedding_model_api_key
GOOGLE_EMBEDDING_MODEL=google_embedding_model
COHERE_API_KEY=cohere_api_key
COHERE_MODEL=rerank_model_name
API_HOST=api_host_default_0.0.0.0
API_PORT=api_start_port
API_RELOAD=api_support_hot_reload
DENSE_VECTOR_NAME=dense_vector_name
SPARSE_VECTOR_NAME=sparse_vector_name1
STOPWORDS_PATH=jieba_stopword_dict
XAI_API_KEY=xai_api_name
XAI_MODEL=xai_model_name
XAI_BASE_URL=xai_url_endpoint
SUPABASE_URL=supabase_url_endpoint
SUPABASE_KEY=supabase_anonymous_key
SCHEMA_NAME=schema_name
JUDGMENT_COLLECTION_NAME=judgment_collection_name_multivector